.root {
    -fx-background-image: url("background.png");
}

.menu-bar {
    -fx-background-color: #2d2c2c;
}

.menu-item {
    -fx-text-fill: #ECF0F1;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #34495E;
}

.menu-bar > .container {
    -fx-padding: 0 20;
}

.menu-bar > .container > .menu-item {
    -fx-spacing: 10;
}

.button {
    -fx-background-color: #db6134;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: none;
    -fx-graphic-text-gap: 15px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #ffcd8c;
}

.text {
    -fx-fill: #FFA500;
    -fx-font-size: 24px;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-padding: 0 20;
}
